{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "quoteProps": "as-needed",
  "jsxSingleQuote": true,
  "proseWrap": "preserve",
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "printWidth": 100,
        "tabWidth": 2,
        "semi": true,
        "singleQuote": true,
        "trailingComma": "es5"
      }
    },
    {
      "files": "*.tsx",
      "options": {
        "printWidth": 100,
        "tabWidth": 2,
        "semi": true,
        "singleQuote": true,
        "trailingComma": "es5",
        "jsxSingleQuote": true
      }
    },
    {
      "files": "*.py",
      "options": {
        "printWidth": 88,
        "tabWidth": 4,
        "useTabs": false,
        "singleQuote": true
      }
    }
  ]
}
